<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Browser PrintInfo</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpHpKEhIQITlNT
	dHJpbmcBlIQBKwlOU1ByaW50ZXKGkoSEhAlOU1ByaW50ZXIAlJKEmZkURVBTT04gV0Yt
	MzY0MCBTZXJpZXOGhpKEmZkUTlNWZXJ0aWNhbFBhZ2luYXRpb26GkoSEhAhOU051bWJl
	cgCEhAdOU1ZhbHVlAJSEASqEl5cAhpKEmZkWTlNIb3Jpem9udGFsbHlDZW50ZXJlZIaS
	hJ+dhIQBY54BhpKEmZkUTlNWZXJ0aWNhbGx5Q2VudGVyZWSGkqOShJmZC05TVG9wTWFy
	Z2luhpKEn52EhAFkn0iGkoSZmRVOU0hvcml6b25hbFBhZ2luYXRpb26GkoSfnaGXAoaS
	hJmZCE5TQ29waWVzhpKEn52EhAFxoAGGkoSZmQ1OU09yaWVudGF0aW9uhpKEn52toACG
	koSZmQ9OU1ByaW50QWxsUGFnZXOGkqOShJmZGE5TRGV0YWlsZWRFcnJvclJlcG9ydGlu
	Z4aShJ+dpJ4AhpKEmZkLTlNQYXBlclNpemWGkoSgnYSEC3tDR1NpemU9ZGR9oYFTAoFK
	A4aShJmZC05TRmlyc3RQYWdlhpKskoSZmQ5OU0JvdHRvbU1hcmdpboaSp5KEmZkNTlNQ
	YWdlc0Fjcm9zc4aSrJKEmZkLTlNGYXhOdW1iZXKGkoSZmQCGkoSZmRBOU1ByaW50UHJv
	dGVjdGVkhpKykoSZmQ1OU1ByaW50ZXJOYW1lhpKckoSZmQtOU1BhZ2VzRG93boaSrJKE
	mZkLTlNQcmludFRpbWWGkoSEhAZOU0RhdGUAlJ+DAAAAxchjLcKGkoSZmQtOU1BhcGVy
	TmFtZYaShJmZBmlzby1hNIaShJmZE05TRGVzdGluYXRpb25Gb3JtYXSGkoSZmSBjb20u
	YXBwbGUuZG9jdW1lbnRmb3JtYXQuZGVmYXVsdIaShJmZDU5TUmlnaHRNYXJnaW6GkqeS
	hJmZDU5TTXVzdENvbGxhdGWGkqOShJmZDE5TTGVmdE1hcmdpboaSp5KEmZkiTlNKb2JT
	YXZpbmdGaWxlTmFtZUV4dGVuc2lvbkhpZGRlboaSspKEmZkPTlNTY2FsaW5nRmFjdG9y
	hpKEn52onwGGkoSZmRBOU0pvYkRpc3Bvc2l0aW9uhpKEmZkPTlNQcmludFNwb29sSm9i
	hpKEmZkUTlNQcmludFNlbGVjdGlvbk9ubHmGkrKShJmZCk5TTGFzdFBhZ2WGkoSfna2g
	gv///3+GkoSZmQpOU1NhdmVQYXRohpK6hoY=
	</data>
	<key>Chart PrintInfo</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpHpKEhIQITlNT
	dHJpbmcBlIQBKwlOU1ByaW50ZXKGkoSEhAlOU1ByaW50ZXIAlJKEmZkURVBTT04gV0Yt
	MzY0MCBTZXJpZXOGhpKEmZkUTlNWZXJ0aWNhbFBhZ2luYXRpb26GkoSEhAhOU051bWJl
	cgCEhAdOU1ZhbHVlAJSEASqEl5cAhpKEmZkWTlNIb3Jpem9udGFsbHlDZW50ZXJlZIaS
	hJ+dhIQBY54BhpKEmZkUTlNWZXJ0aWNhbGx5Q2VudGVyZWSGkqOShJmZC05TVG9wTWFy
	Z2luhpKEn52EhAFkn0iGkoSZmRVOU0hvcml6b25hbFBhZ2luYXRpb26GkoSfnaGXAoaS
	hJmZCE5TQ29waWVzhpKEn52EhAFxoAGGkoSZmQ1OU09yaWVudGF0aW9uhpKEn52toACG
	koSZmQ9OU1ByaW50QWxsUGFnZXOGkqOShJmZGE5TRGV0YWlsZWRFcnJvclJlcG9ydGlu
	Z4aShJ+dpJ4AhpKEmZkLTlNQYXBlclNpemWGkoSgnYSEC3tDR1NpemU9ZGR9oYFTAoFK
	A4aShJmZC05TRmlyc3RQYWdlhpKskoSZmQ5OU0JvdHRvbU1hcmdpboaSp5KEmZkNTlNQ
	YWdlc0Fjcm9zc4aSrJKEmZkLTlNGYXhOdW1iZXKGkoSZmQCGkoSZmRBOU1ByaW50UHJv
	dGVjdGVkhpKykoSZmQ1OU1ByaW50ZXJOYW1lhpKckoSZmQtOU1BhZ2VzRG93boaSrJKE
	mZkLTlNQcmludFRpbWWGkoSEhAZOU0RhdGUAlJ+DAAAAxchjLcKGkoSZmQtOU1BhcGVy
	TmFtZYaShJmZBmlzby1hNIaShJmZE05TRGVzdGluYXRpb25Gb3JtYXSGkoSZmSBjb20u
	YXBwbGUuZG9jdW1lbnRmb3JtYXQuZGVmYXVsdIaShJmZDU5TUmlnaHRNYXJnaW6GkqeS
	hJmZDU5TTXVzdENvbGxhdGWGkqOShJmZDE5TTGVmdE1hcmdpboaSp5KEmZkiTlNKb2JT
	YXZpbmdGaWxlTmFtZUV4dGVuc2lvbkhpZGRlboaSspKEmZkPTlNTY2FsaW5nRmFjdG9y
	hpKEn52onwGGkoSZmRBOU0pvYkRpc3Bvc2l0aW9uhpKEmZkPTlNQcmludFNwb29sSm9i
	hpKEmZkUTlNQcmludFNlbGVjdGlvbk9ubHmGkrKShJmZCk5TTGFzdFBhZ2WGkoSfna2g
	gv///3+GkoSZmQpOU1NhdmVQYXRohpK6hoY=
	</data>
	<key>Class</key>
	<string>GEDCOMDocument</string>
	<key>Encoding</key>
	<integer>4</integer>
	<key>GEDCOM File Name</key>
	<string>Mike.ged</string>
	<key>Index PrintInfo</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpHpKEhIQITlNT
	dHJpbmcBlIQBKwlOU1ByaW50ZXKGkoSEhAlOU1ByaW50ZXIAlJKEmZkURVBTT04gV0Yt
	MzY0MCBTZXJpZXOGhpKEmZkUTlNWZXJ0aWNhbFBhZ2luYXRpb26GkoSEhAhOU051bWJl
	cgCEhAdOU1ZhbHVlAJSEASqEl5cAhpKEmZkWTlNIb3Jpem9udGFsbHlDZW50ZXJlZIaS
	hJ+dhIQBY54BhpKEmZkUTlNWZXJ0aWNhbGx5Q2VudGVyZWSGkqOShJmZC05TVG9wTWFy
	Z2luhpKEn52EhAFkn0iGkoSZmRVOU0hvcml6b25hbFBhZ2luYXRpb26GkoSfnaGXAoaS
	hJmZCE5TQ29waWVzhpKEn52EhAFxoAGGkoSZmQ1OU09yaWVudGF0aW9uhpKEn52toACG
	koSZmQ9OU1ByaW50QWxsUGFnZXOGkqOShJmZGE5TRGV0YWlsZWRFcnJvclJlcG9ydGlu
	Z4aShJ+dpJ4AhpKEmZkLTlNQYXBlclNpemWGkoSgnYSEC3tDR1NpemU9ZGR9oYFTAoFK
	A4aShJmZC05TRmlyc3RQYWdlhpKskoSZmQ5OU0JvdHRvbU1hcmdpboaSp5KEmZkNTlNQ
	YWdlc0Fjcm9zc4aSrJKEmZkLTlNGYXhOdW1iZXKGkoSZmQCGkoSZmRBOU1ByaW50UHJv
	dGVjdGVkhpKykoSZmQ1OU1ByaW50ZXJOYW1lhpKckoSZmQtOU1BhZ2VzRG93boaSrJKE
	mZkLTlNQcmludFRpbWWGkoSEhAZOU0RhdGUAlJ+DAAAAxchjLcKGkoSZmQtOU1BhcGVy
	TmFtZYaShJmZBmlzby1hNIaShJmZE05TRGVzdGluYXRpb25Gb3JtYXSGkoSZmSBjb20u
	YXBwbGUuZG9jdW1lbnRmb3JtYXQuZGVmYXVsdIaShJmZDU5TUmlnaHRNYXJnaW6GkqeS
	hJmZDU5TTXVzdENvbGxhdGWGkqOShJmZDE5TTGVmdE1hcmdpboaSp5KEmZkiTlNKb2JT
	YXZpbmdGaWxlTmFtZUV4dGVuc2lvbkhpZGRlboaSspKEmZkPTlNTY2FsaW5nRmFjdG9y
	hpKEn52onwGGkoSZmRBOU0pvYkRpc3Bvc2l0aW9uhpKEmZkPTlNQcmludFNwb29sSm9i
	hpKEmZkUTlNQcmludFNlbGVjdGlvbk9ubHmGkrKShJmZCk5TTGFzdFBhZ2WGkoSfna2g
	gv///3+GkoSZmQpOU1NhdmVQYXRohpK6hoY=
	</data>
	<key>Multimedia Root Folders</key>
	<array>
		<string>~/Pictures/</string>
	</array>
	<key>Record Album Listings</key>
	<array>
		<dict>
			<key>Album Name</key>
			<string>Header</string>
			<key>Album Record Type</key>
			<string>HEAD</string>
			<key>Album Selected IDs</key>
			<array>
				<string>HEAD</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Submitters</string>
			<key>Album Record Type</key>
			<string>SUBM</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Individuals</string>
			<key>Album Record Type</key>
			<string>INDI</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@I2@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
				<string>BIRT.DATE.sdn</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Places</string>
			<key>Album Record Type</key>
			<string>_PLC</string>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Notes</string>
			<key>Album Record Type</key>
			<string>NOTE</string>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Families</string>
			<key>Album Record Type</key>
			<string>FAM</string>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Save Thumbnails</key>
	<true/>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
